
@media all and (max-width: 450px) {
	.navbar-nav {
		display: none;
	}
	.navbar-toggle {
		display: block !important;
	}
}
.main {
	margin-top: 20px;
}
.box {
	margin: 0 auto;
	background: #fff;
	border: 1px solid #D8D8D8;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .065);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, .065);
	box-shadow: 0 1px 4px rgba(0, 0, 0, .065);
}
.header {
	background-repeat: no-repeat;
	background-position: center center;
	height: 175px;
}
.content {
	padding: 1em;
}
.title {
	margin: 0px;
	color: #0976a5;
	font-size: 32px;
}
.title span {
	color: #4e4646;
}
.subtitle {
	margin-top: 5px;
}

.avatar-container {
	float: left;
}
#avatar {
	width: 100px;
	margin-left: 15px;
}
.edit-avatar {
	float: right;
	margin: -1px 0 0 -38px;
	position: relative;
	padding: 4px 6px !important;
}
.edit-header {
	float: right;
	padding: 7px 9px !important;
	margin: -1px;
}
.edit-bg {
	float: right;
}
ul li.active > a {
	text-decoration: underline;
	color: #205079;
}