  .web_dialog_overlay  
    {  
        position: fixed;  
        top: 0;  
        right: 0;  
        bottom: 0;  
        left: 0;  
        height: 100%;  
        width: 100%;  
        margin: 0;  
        padding: 0;  
        background: #000000;  
        opacity: .15;  
        filter: alpha(opacity=15);  
        -moz-opacity: .15;  
        z-index: 101;  
        display: none;  
    }  
    .web_dialog  
    {  
        display: none;  
        position: fixed;  
        width: 361px;  
        top: 25%;  
        left: 50%;  
        margin-left: -190px;  
        margin-top: -100px;  
        background-color: #ffffff;  
        border: 2px solid #336699;  
        padding: 0px;  
        z-index: 102;  
        font-family: Verdana;  
        font-size: 10pt;  
    }  
    .web_dialog_title  
    {  
        border-bottom: solid 2px #336699;  
        background-color: #336699;  
        padding: 4px;  
        color: White;  
        font-weight: bold;  
        padding-left: 10px;
    }  
    .web_dialog_title a  
    {  
        color: White;  
        text-decoration: none;  
    }  
    .align_right  
    {  
        text-align: right;  
    }  

    .pop_main{width:357px; /*height: 560px;*/ background:#fff; border:0px solid #ccc; padding:5px;}
    .pop_main .losePopupImg{background: url('../images/btn-close.gif') no-repeat}
    .pop_main .pop_header{width:347px; height:26px; background:#68DFF0; border-bottom:0px solid #ffd066; padding:3px 0px 0px 5px; font:Verdana, Geneva, sans-serif; color:#fff; font-size:14px; font-weight:bold;}
    .pop_main .pop_container { padding:5px 0px 20px 30px; text-align:left;border:0px solid red; position:relative;}
    .pop_main .pop_container .search{width:225px; height:30px; border:0px solid red; position:absolute; top:10px; right:0px;}
    .pop_main .pop_container .search p{float:left;width:400px!important; height:24px;  float:left; font-size:14px; color:#333; font-weight:bold; border:0px solid red!important;}
    .pop_main .pop_container .search .top_right{float:right; height:30px; border:0px solid red; font-weight:bold;} 

    .pop_main .pop_container .rows_pop{width:505px;  border:0px solid green; margin-bottom:10px; padding-right:10px; float:left; font-size:12px; color:#7d7d7d; font-weight:normal; line-height:20px; vertical-align:middle;}
    .pop_main .pop_container .rows_pop a{ font-weight:normal; color:#666666;}
    .pop_main .pop_container .rows_pop label.column1{width:120px; height:auto; font-size:12px; font-weight:normal; color:#7d7d7d; float:left; border:0px solid red; padding-left:0px; margin:0px 0px 0px 0px;}
    .pop_main .pop_container .rows_pop span.column2{width:350px; border:0px solid red; height:auto; font-size:12px; font-weight:normal; color:#333!important; float:left;}
    .pop_main .pop_container .rows_pop .img_help{margin-top:2px;}
    .pop_main .pop_container .rows_pop .notetext{width:auto; margin:0px; padding:0px; color:#a7a7a7; font-size:10px; border:0px solid red; padding-left:0px; clear:both}

    .refill_account .rows{width:auto;  border:0px solid green; margin-bottom:5px; clear:both; color:#fff;  font-size:12px;}
    .refill_account .rows a{color:#ed3137;}
    .refill_account .rows label.column1{width:120px; line-height:20px; font-size:12px; font-weight:normal; float:left; border:0px solid red; color:#fff;}
    .refill_account .rows label.column1 span{color:#ed3137; font-size:12px;}
    .refill_account .rows span.column2{width:160px; line-height:20px; font-size:12px; font-weight:normal; float:left; border:0px solid red; color:#fff;}
    .refill_account .rows span.column3{width:200px; display:inline; line-height:20px; font-size:12px; font-weight:normal;  float:left; border:0px solid red; color:#fff; padding:0px;}
    .refill_account .rows span.column4{width:325px; display:inline; line-height:20px; font-size:12px; font-weight:normal;  float:left; border:0px solid red; color:#fff; padding:0px;}
    
    .pop_container  .view-as-customer{widows: 97%; padding: 0px 10px 10px 10px}
    .pop_container  .view-as-customer .row1{float: left; width: 331px;}
    .pop_container  .view-as-customer .row2{float: left; width: 500px;}
    .pop_container  .view-as-customer .row3{float: left; width: 94px;}
    .pop_container  .view-as-customer .row4{float: left; width: 150px;}
    .pop_container  .view-as-customer .row5{float: left; width: 200px;}
    .pop_container  .view-as-customer .row6{float: left; width: 300px;}
    .pop_container  .view-as-customer .row7{float: left; width: 650px;}
    
    
  ul.sidebar-menu li.sub-menu {
      height:25px;
  }
  
  ul.sidebar-menu li a{
      padding:10px 0 10px 10px;
  }
  
  #main-content {   
    padding-left: 10px;
    overflow-y: auto;
    padding-bottom:50px;
}

/* data table */
.dataTableHeadingRow { background-color: #C9C9C9; }
.dataTableHeadingContent { font-family: Verdana, Arial, sans-serif; font-size: 10px; color: #ffffff; font-weight: bold; }
.dataTableRow { background-color: #F0F1F1;}
.dataTableRowSelected { background-color: #DEE4E8; }
.dataTableRowOver { background-color: #FFFFFF; cursor: pointer; cursor: hand; }
.dataTableContent { font-family: Verdana, Arial, sans-serif; font-size: 10px; color: #000000; padding:2px }

/* info box */
.infoBoxHeading { font-family: Verdana, Arial, sans-serif; font-size: 10px; color: #ffffff; background-color: #B3BAC5; }
.infoBoxContent { font-family: Verdana, Arial, sans-serif; font-size: 10px; color: #000000; background-color: #DEE4E8; }

/* message box */

.messageBox { font-family: Verdana, Arial, sans-serif; font-size: 10px; }
.messageStackError, .messageStackWarning { font-family: Verdana, Arial, sans-serif; font-size: 10px; background-color: #ffb3b5; }
.messageStackSuccess { font-family: Verdana, Arial, sans-serif; font-size: 10px; background-color: #99ff00; }

.contentTable{
    background-color:#fff;
}

#main-content.white{
    background-color:#fff;
}

.main{
    color:#000;
        font-family: Verdana, Arial, sans-serif;
    font-size: 12px;
}

.infoBoxContent img,.main img{  
    vertical-align: top; 
}