<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Groceries</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-app="myApp" ng-controller="customersCtrl">
    
	
	<div class="container">
  <h2>Groceries Table</h2>
  <div class="table-responsive">          
  <table class="table" class="table" ng-repeat="item in groceries">
    <thead>
      <tr>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
		 <td class="item-head"><b>{{item.uniqueItem}}</b></td>
		 <td class="item-head"><b>Item</b></td>
		 <td class="item-head"><b>No Of Units</b></td>
		 <td class="item-head"><b>Price</b></td>
		 <td class="item-head"><b>Quandity</b></td>
		 <td class="item-head"><b>Total</b></td>
	  </tr>
    </tbody>
	<tbody>
	  <tr ng-repeat="sub_items in item.subItems">
		 <td></td>
		 <td class="">{{sub_items.name}}</td>
		 <td>{{sub_items.itemQty}} {{sub_items.units}}</td>
		 <td><input id="itemprice" type="text" ng-model="sub_items.price"/></td>
		 <td><input type="text" name="quandity" ng-model="sub_items.qty" /></td>
		 <td><input type="text" name="suboutput" ng-model="sub_items.price*sub_items.qty" /></td>
	  </tr>
	</tbody>
  </table>
  </div>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script>
var app = angular.module('myApp', []);
app.controller('customersCtrl', function($scope, $http) {
  $scope.groceries = [
   { uniqueItem : 'Rice',
     subItems : [
    { name: 'Sonamasoori', units: 'Kg', itemQty: 25, price: 1000, qty: 0},
    { name: 'HMT', units: 'Kg', itemQty: 25, price: 1050, qty: 0},
    { name: 'BPT', units: 'Kg', itemqty: 0, price: 75, qty: 0},
    { name: 'Basmati', units: 'Kg', itemqty: 0, price: 90, qty: 0},
    { name: 'Karnool', units: 'Kg', itemqty: 0, price: 55, qty: 0},
   ]},
   { uniqueItem : 'EDIBLE OILS & GHEE',
     subItems : [
    { name: 'Heritage', units: 'Lt', itemqty: 0, price: 55, qty: 0},
    { name: 'Fortune', units: 'Lt', itemqty: 0, price: 250, qty: 0},
    { name: 'Priya', units: 'Lt', itemqty: 0, price: 1250, qty: 0},
    { name: 'vijaya', units: 'Lt', itemqty: 0, price: 50, qty: 0},
    { name: 'Sri krishna gold', units: 'Lt', itemqty: 0, price: 45, qty: 0},
    { name: 'A.S. Brand', units: 'Lt', itemqty: 0, price: 52, qty: 0},
   ]},
   { uniqueItem : 'SOYABEAN',
     subItems : [
    { name: 'Fortune', units: 'Lt', itemqty: 0, price: 55, qty: 0},
    { name: 'Soya Health', units: '5Lt', itemqty: 0, price: 250, qty: 0},
    { name: 'Prestige', units: 'Lt', itemqty: 0, price: 1250, qty: 0},
    { name: 'Suguna', units: 'Lt', itemqty: 0, price: 50, qty: 0},
    { name: 'Kings', units: 'Lt', itemqty: 0, price: 45, qty: 0},
   ]},
   { uniqueItem : 'SUNFLOWER OIL',
     subItems : [
    { name: 'GoldDrop', units: 'Lt', itemqty: 0, price: 55, qty: 0},
    { name: 'Gold Winer', units: '5Lt', itemqty: 0, price: 250, qty: 0},
    { name: 'Sunsolite', units: 'Lt', itemqty: 0, price: 1250, qty: 0},
    { name: 'Sundrop', units: 'Lt', itemqty: 0, price: 50, qty: 0},
    { name: 'Vijaya', units: 'Lt', itemqty: 0, price: 45, qty: 0},
    { name: 'Freedome', units: 'Lt', itemqty: 0, price: 52, qty: 0},
    { name: 'Naturalle', units: 'Lt', itemqty: 0, price: 52, qty: 0},
   ]},
   { uniqueItem : 'PALM OIL',
     subItems : [
    { name: 'Olivia', units: 'Lt', itemqty: 0, price: 55, qty: 0},
    { name: 'Priya', units: '5Lt', itemqty: 0, price: 250, qty: 0},
    { name: 'Vijaya', units: 'Lt', itemqty: 0, price: 1250, qty: 0},
    { name: 'Sundrop', units: 'Lt', itemqty: 0, price: 50, qty: 0},
   ]},
   { uniqueItem : 'MUSTARD OIL',
     subItems : [
    { name: 'Dhara', units: 'Lt', itemqty: 0, price: 55, qty: 0},
    { name: 'Fortune', units: '5Lt', itemqty: 0, price: 250, qty: 0},
    { name: 'Rich Gold', units: 'Lt', itemqty: 0, price: 1250, qty: 0},
   ]},
   { uniqueItem : 'RICEBRAND OIL',
     subItems : [
    { name: 'Dhara', units: 'Lt', itemqty: 0, price: 55, qty: 0},
    { name: 'Fortune', units: '5Lt', itemqty: 0, price: 250, qty: 0},
    { name: 'Vijaya', units: 'Lt', itemqty: 0, price: 1250, qty: 0},
    { name: 'Freedom', units: 'Lt', itemqty: 0, price: 1250, qty: 0},
    { name: 'GoldCoin', units: 'Lt', itemqty: 0, price: 1250, qty: 0},
   ]},
   { uniqueItem : 'BUFFALO GHEE',
     subItems : [
    { name: 'Jersey', units: '100gm', itemqty: 0, price: 100, qty: 0},
    { name: 'Dodla', units: '150gm', itemqty: 0, price: 200, qty: 0},
    { name: 'Amul', units: '250gm', itemqty: 0, price: 300, qty: 0},
    { name: 'Heritage', units: 'Lt', itemqty: 0, price: 500, qty: 0},
   ]},
   { uniqueItem : 'COW GHEE',
     subItems : [
    { name: 'Jersey', units: '100gm', itemqty: 0, price: 100, qty: 0},
    { name: 'Dodla', units: '150gm', itemqty: 0, price: 200, qty: 0},
	{ name: 'Heritage', units: 'Lt', itemqty: 0, price: 500, qty: 0},
    { name: 'Oragnic', units: 'Lt', itemqty: 0, price: 1250, qty: 0},
	{ name: 'Amul', units: '250gm', itemqty: 0, price: 1000, qty: 0},
   ]},
   { uniqueItem : 'VANASPATHI GHEE',
     subItems : [
    { name: 'Naturalle', units: '100gm', itemqty: 0, price: 150, qty: 0},
    { name: 'GoldCoin', units: '100gm', itemqty: 0, price: 100, qty: 0},
	{ name: 'Ruchi', units: 'Lt', itemqty: 0, price: 1000, qty: 0},
   ]},
   { uniqueItem : 'BUTTER',
     subItems : [
    { name: 'Heritage', units: '100gm', itemqty: 0, price: 55, qty: 0},
    { name: 'Jersey', units: '100gm', itemqty: 0, price: 50, qty: 0},
	{ name: 'Amul', units: '150gm', itemqty: 0, price: 75, qty: 0},
   ]},
   
  
  ];
});
</script>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
</body>
</html>