.item-head{
	background-color:#cccc99;
	width: calc(100%/6);
}
.item{
	background-color:#ffcccc;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 0px;
	text-align:center;
}
.table{
	text-align:center;
}