<table width="100%" height="100%" cellpadding="0" cellspacing="0" align="center" style="height:100%;margin:0px;font:11px Verdana, Arial, Helvetica, sans-serif;color:#333;background:url(http://adrobe.com/images/mail/bg-top1.jpg) repeat-x #f4f9ff;text-align:left;">
<tr><td align="center">
<table id="wrapper" style="width:800px;font:11px Verdana, Arial, Helvetica, sans-serif;height:100%;border:4px solid #7E248F;display:table-cell;text-align:left;" border="0" cellspacing="0" cellpadding="0" >
  <tr>
    <td class="header" style="height:100px;font:11px Verdana, Arial, Helvetica, sans-serif;text-align:left;vertical-align:top;" ><table width="100%" border="0" cellpadding="0" cellspacing="0" >
      <tr>
        <td width="100%" class="logo_black" align="center"><a href="" target="_parent" ><img src="http://www.adrobe.in/resources/images/logo-1.png" border="0"/></a></td>
       
      </tr>
    </table></td>
  </tr>
  
  <tr>
    <td style="vertical-align:top"><table width="100%" border="0" class="main" style="vertical-align:top;height:100%;font:11px Verdana, Arial, Helvetica, sans-serif;">
      <tr>
               <td width="100%" class="body_text" style="vertical-align:top;font:11px Verdana, Arial, Helvetica, sans-serif;">
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td class="main_text" style="vertical-align:top;padding:10px;height:500px;font:11px Verdana, Arial, Helvetica, sans-serif;padding-top:0px;">
                <br/>
                  <p ></p>
				  
 #set ($userCurrency = $order.displayCurrency)  
 
<span class="txt-bold" style="font-weight:bold">Adrobe</span> <br/>
<hr width="50%" align="left"/>  
 <br/> 
Order Number: $order.id <br/>
Detailed Invoice:  <a href="http://localhost:8084/onlinestore/account_history_info.php?order_id="></a><br/>
Date Ordered: $orderdate <br/><br/>
 #if($order.comments)
     $order.comments<br/><br/>
 #end
<span class="txt-bold" style="font-weight:bold">Products</span> <br/> 
<hr width="50%" align="left"/>  <br/> 
 #set ($itemsMap = $order.cart.itemsMap)   
           
#foreach($key in $itemsMap.keySet())
#set ($orderProductItem = $itemsMap.get($key))
#set ($subprice = $orderProductItem.subpriceWithTax*$userCurrency.value)
#set ($subprice = $storeUtils.getFormattedPrice($subprice,$order.displayCurrency))
$orderProductItem.quantity &nbsp; x &nbsp; $orderProductItem.product.title &nbsp; = &nbsp; $subprice <br/> 
#end


<hr width="50%" align="left"/>   <br/>
#set ($subtotal = $order.cart.totalpriceWithTax*$userCurrency.value)
#set ($subtotal = $storeUtils.getFormattedPrice($subtotal,$order.displayCurrency))
Sub-Total: &nbsp; $subtotal<br/> 
#set ($shippingtotal = $order.shipping.costWithTax*$userCurrency.value)
#set ($shippingtotal = $storeUtils.getFormattedPrice($shippingtotal,$order.displayCurrency))                       
$order.shipping.moduleName ($order.shipping.title): $shippingtotal <br/> 
                      
#set ($taxGroups = $order.taxGroups)

<c:forEach var="taxgroup" items="${taxGroups}">
#foreach($key in $taxGroups.keySet())
#set ($tg = $taxGroups.get($key))
#if($tg.total > 0)
#set ($vv = $tg.total*$userCurrency.value)
#set ($vv = $storeUtils.getFormattedPrice($vv,$order.displayCurrency))
$tg.taxRates.taxDescription : $vv<br/>
#end
#end
#set ($vv = $order.total*$userCurrency.value)
#set ($vv = $storeUtils.getFormattedPrice($vv,$order.displayCurrency))                      
Total: $vv <br/>


<br/>  <span class="txt-bold" style="font-weight:bold">Delivery Address</span> <br/> 
<hr width="50%" align="left"/>  <br/>
 #set ($shippingAddress = $order.shippingAddress)
#if($shippingAddress.company)
$shippingAddress.company<br/>
#end
$shippingAddress.firstName $shippingAddress.lastName<br/> 
$shippingAddress.street<br/>

#if($shippingAddress.suburb)
$shippingAddress.suburb<br/>
#end
$shippingAddress.city,$shippingAddress.postcode <br/>
#if($shippingAddress.state)
$shippingAddress.state <br/>
#end
#if($shippingAddress.zone.zoneName)
$shippingAddress.zone.zoneName, 
#end $shippingAddress.country.countryName <br/>


<br/><span class="txt-bold" style="font-weight:bold">Billing Address</span> <br/>
<hr width="50%" align="left"/>  <br/>
#set ($billingAddress = $order.billingAddress)
#if($billingAddress.company)
$billingAddress.company<br/>
#end
$billingAddress.firstName $billingAddress.lastName<br/> 
$billingAddress.street<br/>

#if($billingAddress.suburb)
$billingAddress.suburb<br/>
#end
$billingAddress.city,$billingAddress.postcode <br/>
#if($billingAddress.state)
$billingAddress.state<br/>
#end
#if($billingAddress.zone.zoneName)
$billingAddress.zone.zoneName, 
#end 
$billingAddress.country.countryName <br/>



<br/> <span class="txt-bold" style="font-weight:bold">Payment Method </span><br/> 
<hr width="50%" align="left"/>   <br/>
#set ($payment = $order.payment) 
$payment.moduleName :: $payment.title  
 <br/><br/>


<p>THIS IS A SYSTEM GENERATED MAIL. REPLIES TO THIS MAIL ID WILL NOT BE RESPONDED.</p>
                  
                </td>
              </tr>
          </table></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td class="footer" style="font:11px Verdana, Arial, Helvetica, sans-serif;height:27px;text-align:left;padding-left:10px;border-bottom:#000;border-top:#ffb400;background-color:#7E248F;"><table width="100%" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="94%" align="center" class="footer-text" style="font:11px Verdana, Arial, Helvetica, sans-serif;color:#ffffff;"> 2015, Adrobe. All rights reserved </td>
        <td width="6%" align="right"></td>
      </tr>
    </table></td>
  </tr>
</table>
</td>
</tr>
</table>
