#set ($website = 'http://www.adrobe.in')
#if( 'registration' == $type)
Thanks for registering with Adrobe. $website
#elseif('forgotPassword' == $type)
Your password for login to adrobe is $customer.password . $website
#elseif('vendorForgotPassword' == $type)
Your password for login to adrobe is $vendor.password . $website
#elseif('userRequest' == $type)
UserRequest has been placed by $customer.firstname $customer.lastname for $orderProduct.productsName . $website
#elseif('vendorRegistration' == $type)
Dear vendor please login into $website/vendor/login using username as $vendor.email and password as $vendor.password. $website 
#elseif('orderConfirmation' == $type)
    #set ($ordersTotals = $order.orderTotalList)
    #foreach($key in $ordersTotals)
    #if($key.class1=='ot_total')
    #if($status=='success')
    Your order is successfully placed for amount $key.text and order id is $order.ordersId . $website
    #else
    Sorry,your order has failed for amount $key.text and order id is $order.ordersId . $website
    #end
    #end
    #end
#elseif('vendorOrderNotification' == $type)
#if($orderProduct.reserved=='1') 
#set($subprice = $orderProduct.reservedPrice*$orderProduct.productsQuantity )
#set ($pr1 = $util.getFormattedPrice($subprice))
#set ($reserved = "(reserved)")
#else
#set($subprice = $orderProduct.finalPrice*$orderProduct.productsQuantity )
#set ($pr1 = $util.getFormattedPrice($subprice))
#set ($reserved = "")
#end
Order#$order.ordersId - $orderProduct.productsName X $orderProduct.productsQuantity - $pr1 $reserved
$order.customersName ph:$order.customersTelephone . $website
#else
#end
